#x {
    transform: rotate(-12deg);
}
#y {
    transform: rotate(-45deg);
}
#z {
    transform: rotate(-78deg);
}

#X, #Y, #Z {
    background: lightgrey;
}

#X > svg {
    transform: rotate(282deg); /* 102 + 180, there's a bug with tooltip, X also has class rotate-180 */
}
#Y > svg {
    transform: rotate(135deg);
}
#Z > svg {
    transform: rotate(168deg);
}


#o {
    background: black;
}
#hover-zone {
    width: 12rem;
    height: 12rem;
    clip-path: circle(100% at 100% 100%);
}

#diameter {
    transition: all 0.5s ease-in-out;
    width: 12rem;
    height: 12rem;
}

.hover {
    transform: rotate(-90deg);
}