{% extends '_base.html' %}
{% load component_tags %}
{% block title %}Login{% endblock %}

{%block content%}
<div class="p-0 flex items-center overflow-hidden relative" style="height: 85vh;">
    <div class="absolute w-full h-full" style="background: linear-gradient(-45deg, #f8f8f3, #f5f2d6, #dbebf3, #c6d6f7); background-size: 300% 300%; animation: gradient 65s ease infinite;"> </div>
    <div class="container mx-auto px-4 z-3 relative lg:w-6/12">
      <div class="justify-center flex flex-wrap flex-col -mx-4 text-center">
        <h1 class="text-5xl font-semibold text-white leading-tight -mt-8 mb-6" style="color: #327796">Login</h1>
        <form method="POST" class="form-group"> {% csrf_token %}
            <div class="flex items-center space-x-6 p-6 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-500">
                <div class="flex-col flex space-y-4 w-full">
                    {% component "field" component_type="text" placeholder="Enter username..." name="username" icon_name="academic-cap" %}
                    {% component "field" component_type="password" placeholder="Enter password..." name="password" icon_name="academic-cap" %}
                </div>
                <div class="mx-auto">
                    {% component "button" text="Login" component_type="primary" value="submit" %}
                </div>
            </div>
        </form>
        <div class="w-full flex items-center justify-center">
            <p class="mt-8">
                Don't have an account? Create one <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="/register">here</a>
            </p>
        </div>
    </div>
</div>
<div class="w-full absolute text-white bottom-0 z-3 "></div>
{%endblock%}
