{% extends "cropper.html" %}
{% block content %}
    <div class="cropped_questions">
        <h1>Cropped Questions</h1>
        {% for img in Cimages %}
            <div class="cropped_question_container">
                <div class="cropped_question">{{ img.text }}</div>
                <div class="edit">
                    <a href="{% url 'edit-question' file img.id %}">Edit</a>
                </div>
                <a href="{% url 'delete-cropped-img' file img.id %}">Delete</a>
            </div>
        {% endfor %}
        <a href="{% url 'crop-file' file 0%}">Go back to cropping</a>
        <a href = "{% url 'submit' %}">Submit Questions</a>
        -->
    </div>

{% endblock %}