<!DOCTYPE html>

<html lang="en">
<head>
    <title>Navbar</title>
    <link
            data-tag="font"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/styles/commons.css" rel="stylesheet"/>
    <link href="../static/styles/home-style.css" rel="stylesheet"/>
</head>
<body>
    {% url 'index' as home_url %}
    {% url 'searchByQuestion' as search_url %}
    {% url 'searchByCourse' as search_url2 %}
    {% url 'searchResults' as search_url3 %}
    {% url 'uploadOptions' as upload_url %}
    {% url 'uploadOCR' as upload_url2 %}
    {% url 'uploadManually' as upload_url3 %}

    <link rel="stylesheet" href=" ../static/css/bootstrap.min.css">
    <link href="../static/styles/commons.css" rel="stylesheet"/>
    <link href="../static/styles/home-style.css" rel="stylesheet"/>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top lined">
        <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbar-drop"
            aria-controls="navbar-drop"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
        <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-drop">
            <a class="navbar-brand" href="#">
                <img src="../static/img/star.svg" width="40" height="40" alt="">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                <li class="nav-item {% if request.path == home_url %} active {% endif %}">
                    <a class="nav-link" aria-current="page" href="/static/index.html">Home</a>
                </li>
                <li class="nav-item dropdown {% if request.path == search_url or request.path == search_url2 or request.path == search_url3 %} active {% endif %}" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-drop-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Search
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbar-drop-link">
                        <a class="dropdown-item" href="/searchByQuestion">by Question</a>
                        <a class="dropdown-item" href="/searchByCourse">by Course</a>
                    </div>
                </li>
                <li class="nav-item {% if request.path == upload_url or request.path == upload_url2 or request.path == upload_url3 %} active {% endif %}" >
                    <a class="nav-link" href="/upload-options">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>
