<!DOCTYPE html>

<html lang="en">
<head>
    <title>ACMAS Search</title>
    <link rel="icon" type="image/x-icon" href="../static/img/star.svg">
    <meta content="ACMAS Search" property="og:title"/>
    <meta content="summary_large_image" property="twitter:card"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link
            data-tag="font"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />
    <link href="../static/styles/search-by-course-style.css" rel="stylesheet"/>
</head>
<body>
  <link href="../static/styles/search-by-course-style.css" rel="stylesheet"/>
  {% extends 'navbar.html' %}
  {% block content %}
  <div class="container-fluid search-container">
  <h1 class="display-3" style="text-align: center">Search by Course</h1>
  <form class="row user-inpt" method="POST" enctype="multipart/form-data" action="{% url 'searchByCourse' %}"> {% csrf_token %}
      <div class="col-md-12 user-inpt">
        <select class="form-select form-select-lg" id="input-uni" placeholder="Select University" name="school">
            <option style="color: #D4D6D9;" value="">Select University</option>
            {% for university_name in university_names %}
              <option value="{{university_name}}"></option>
            {% endfor %}
        </select>
      </div>
      <div class="col-md-6 user-inpt">
        <select class="form-select form-select-lg" id="input-course" placeholder="Select Course" name="course">
            <option style="color: #D4D6D9;" value="">Select Course</option>
            <option value=""></option>
        </select>
      </div>
      <div class="col-md-6 user-inpt">
          <select class="form-select form-select-lg" placeholder="Select assignment type" autocomplete="on" name="type">
              <option style="color: #D4D6D9;" value="All">Select assignment type</option>
              <option value="All">All</option>
              <option value="Assignment">Assignment</option>
              <option value="Exam">Exam</option>
              <option value="Practice">Practice</option>
          </select>
      </div>
      <div class="col-md-12 user-inpt h-100 d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg" value="Search">Search</button>
      </div>
    </form>
  </div>
  {% endblock %}
</body>
</html>
