<!DOCTYPE html>

<html lang="en">
<head>
    <title>ACMAS Search</title>
    <link rel="icon" type="image/x-icon" href="../static/img/star.svg">
    <meta content="ACMAS Search" property="og:title"/>
    <meta content="summary_large_image" property="twitter:card"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link
            data-tag="font"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />
    <link href="../static/styles/commons.css" rel="stylesheet"/>
    <link href="../static/styles/search-by-course-style.css" rel="stylesheet"/>
</head>
<body>
    {% extends 'navbar.html' %}

    <link href="../static/styles/commons.css" rel="stylesheet"/>
    <link href="../static/styles/search-by-course-style.css" rel="stylesheet"/>
    {% block content %}
    <div class="home-container">
        <div class="logo-container" style="margin-top: 6%;"> <!--logo needs to be removed-->
        </div>
        <h1 class="acmas-search-header">Search By Course</h1>
        <div class="action-container">
            <form class="action-container" method="POST" enctype="multipart/form-data" action="{% url 'searchResults' %}"> {% csrf_token %}
                <div class="university-container">
                    <img
                            alt="image"
                            class="hexagon-img"
                            src="../static/img/star.svg"
                    />
                    <textarea
                            class="home-textarea textarea"
                            placeholder="Enter your university"
                            rows="1"
                            name="school"
                    ></textarea>
                </div>
                <div class="home-course-container">
                    <img
                            alt="image"
                            class="hexagon-img"
                            src="../static/img/star.svg"
                    />
                    <textarea
                            class="home-textarea textarea"
                            placeholder="Enter your course"
                            rows="1"
                            name="course"
                    ></textarea>
                </div>
                <div class="home-assignment-container">
                    <span class="home-select-text">Select your assignment |</span>
                    <select autocomplete="on" class="button home-assignment-dropdown" name="type">
                        <option selected value="All">All</option>
                        <option value="Assignment">Assignment</option>
                        <option value="Exam">Exam</option>
                        <option value="Practice">Practice</option>
                    </select>
                </div>
                {#        <button class="home-search-button button">Search!</button>#}
                <input type="submit" class="home-search-button button" value="Search"/>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
