<!DOCTYPE html>

<html lang="en">
<head>
    <title>ACMAS Search</title>
    <link rel="icon" type="image/x-icon" href="../static/img/star.svg">
    <meta content="ACMAS Search" property="og:title"/>
    <meta content="summary_large_image" property="twitter:card"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link
            data-tag="font"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="container" style="margin-top: 6%">
    <form class="row" method="POST" enctype="multipart/form-data" action="{% url 'searchResults' %}"> {% csrf_token %}
        <div class="col-12">
          <input type="text" class="form-control" id="input-uni" name="school" placeholder="Enter University">
        </div>
        <div class="col-md-6" style="margin-top: 2%">
          <input type="text" class="form-control" id="input-course" name="course" placeholder="Enter Course">
        </div>
        <div class="col-md-6" style="margin-top: 2%">
            <select style="
              display: block;
              width: 100%;
              padding: .375rem 2.25rem .375rem .75rem;
              -moz-padding-start: calc(0.75rem - 3px);
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #212529;
              background-color: #fff;
              background-repeat: no-repeat;
              background-position: right .75rem center;
              background-size: 16px 12px;
              border: 1px solid #ced4da;
              border-radius: .375rem;
              transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;" placeholder="Select your assignment" autocomplete="on" name="type">
                <option selected>Select your assignment</option>
                <option value="All">All</option>
                <option value="Assignment">Assignment</option>
                <option value="Exam">Exam</option>
                <option value="Practice">Practice</option>
            </select>
        </div>
        <div style="margin-top: 2%" class="col-12 h-100 d-flex align-items-center justify-content-center">
          <button type="submit" class="btn btn-primary btn-lg" value="Search">Search</button>
        </div>
      </form>
    </div>
    {% endblock %}
</body>
</html>
