.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: auto;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-frame11 {
  width: 1440px;
  height: 69px;
  margin: 0 0 48px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-a-c-m-a-s-logo1 {
  top: 20px;
  left: 18px;
  width: 258px;
  height: 49px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-text {
  top: 20px;
  left: 363px;
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text1 {
  top: 20px;
  left: 512px;
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text2 {
  top: 20px;
  left: 661px;
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text3 {
  top: 20px;
  left: 810px;
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text4 {
  top: 20px;
  left: 959px;
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text5 {
  color: rgba(0, 0, 0, 1);
  width: 677px;
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  margin-top: 0 0 48px 0;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  margin-left: 0 0 48px 0;
  font-stretch: normal;
  margin-right: 0 0 48px 0;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.desktop1-frame9 {
  width: 678px;
  height: 68px;
  margin: 0 0 48px 0;
  display: flex;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-a-c-m-a-s-logo2 {
  top: 0px;
  left: -149px;
  width: 109px;
  height: 68px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-input {
  flex: 1;
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: center;
  margin-top: 0px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.desktop1-frame8 {
  width: 678px;
  height: 41px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin-top: 0 0 48px 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0 0 48px 0;
  padding-top: var(--dl-space-space-twounits);
  border-color: transparent;
  margin-right: 0 0 48px 0;
  padding-left: 15px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 15px;
  padding-bottom: 15px;
}
.desktop1-a-c-m-a-s-logo3 {
  top: 0px;
  left: -149px;
  width: 109px;
  height: 68px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-input1 {
  flex: 1;
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: center;
  margin-top: 0px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.desktop1-frame7 {
  width: 100px;
  height: 65px;
  display: flex;
  padding: 15px;
  position: relative;
  align-self: center;
  box-sizing: border-box;
  margin-top: 0 0 48px 0;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 0 0 48px 0;
  border-color: transparent;
  margin-right: 0 0 48px 0;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-twounits);
}
.desktop1-button {
  top: -3px;
  flex: 1;
  left: 0px;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.desktop1-text6 {
  color: rgba(0, 0, 0, 1);
  width: 216px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  margin-top: 0 0 48px 0;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  margin-left: 0 0 48px 0;
  font-stretch: normal;
  margin-right: 0 0 48px 0;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.desktop1-frame10 {
  width: 678px;
  height: 51px;
  margin: 0 0 48px 0;
  display: flex;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-a-c-m-a-s-logo5 {
  top: -8px;
  left: -149px;
  width: 109px;
  height: 68px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop1-input2 {
  flex: 1;
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: center;
  margin-top: 0px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.desktop1-frame6 {
  width: 100px;
  height: 65px;
  display: flex;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-button1 {
  top: -3px;
  flex: 1;
  left: 0px;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
