.button {
  background-color: #fff1;
  transition-duration: 0.4s;
  border: 2px solid var(--dl-color-gray-white);
  padding: 12px 18px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 224px;
  color: var(--acmas-blue);
}

.button:hover {
  background-color: var(--dl-color-gray-white);
  color: var(--acmas-blue);
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.content {
  font-size: 16px;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.heading {
  font-size: 32px;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

/* parent container */
.home-container {
  margin: 150px;
}

.home-display-text {
  color: var(--acmas-blue);
  font-family: Inter, serif;
  font-size: 66px;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}

.home-buttons-container {
  width: 40%;
  display: flex;
  margin-top: 70px;
  align-items: flex-start;
}

.home-buttons-container > a {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-right: auto;
  text-decoration: none;
}

/* ACMAS image */
.home-logo {
  width: 405px;
  height: auto;
  padding-top: 20px;
  padding-left: 25px;
}

.search-title {
  font-size: 30px;
  font-style: normal;
  font-family: Arial, serif;
  font-weight: 400;
}

.upload-button-text {
  color: var(--acmas-blue);
  font-size: 38px;
  font-style: normal;
  font-family: Arial, serif;
  font-weight: 400;
  line-height: 1.75;
}

.home-text {
  font-size: 30px;
  font-style: normal;
  font-family: Arial, serif;
  font-weight: 400;
}

.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}

/* home page footer graphic */
.custom-shape-divider-bottom-1669508581 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669508581 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1669508581 .shape-fill {
  fill: #ffffffde;
}

/* mobile */
@media (max-width: 480px) {
  body {
    background-color: #d6e6f5;
  }

  #hide-mobile {
    display: none;
  }
}

/* tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-color: #d6e6f5;
  }

  #hide-mobile {
    display: none;
  }
}

/* desktop */
@media (min-width: 1025px) {
  body {
    margin: 0;
    background: linear-gradient(-45deg, #f8f8f3, #f5f2d6, #dbebf3, #c6d6f7);
    background-size: 300% 300%;
    animation: gradient 65s ease infinite;
    height: 100vh;
  }

  /* background gradient animation  */
  @keyframes gradient {
    0% { background-position: 0% 50%; }

    50% { background-position: 100% 50%; }
    
    100% { background-position: 0% 50%; }
  }
}
/* delete this after lint



*/
.dropdown-button {
  background-color: #fff1;
  transition-duration: 0.4s;
  border: 2px solid var(--dl-color-gray-white);
  padding: 12px 62px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 224px;
  color: var(--acmas-blue);
  position: relative;
  perspective: 1000px;
  z-index: 100;
}

.dropdown-button:hover {
  display: block;
}

.dropdown-opts {
  position: absolute;
  top: 100%;
  left: -34px; /* align with dropdown button */
  width: 100%;
  z-index: -1;
  animation: grow-down 300ms ease-in-out forwards;
  transform-origin: top center;
}

.dropdown-opts > li {
  display: flex;
  color: var(--acmas-blue);
  background-color: #fff1;
  width: 224px;
  padding: 10px 20px;
  font-size: 30px;
  border: 2px solid var(--dl-color-gray-white);
  border-radius: 5px;
  transition-duration: 0.4s;
}

.dropdown-opts > li:hover {
  background-color: var(--dl-color-gray-white);
}

.dropdown-opts > li > a {
  text-decoration: none;
  color: var(--acmas-blue);
}

/* these lines with "--animated" controls hide/show of dropdown */
.dropdown-opts--animated {
  display: none;
}

.dropdown-button:hover .dropdown-opts--animated {
  display: block;
}

.dropdown-opts--animated > li {
  display: block;
  opacity: 1;
}
 
@keyframes grow-down {
  0% { transform: scaleY(0); }

  80% { transform: scaleY(1.1); }

 100% { transform: scaleY(1); }
}
