.button {
  background-color: #ffffff11;
  transition-duration: 0.4s;
  border: 2px solid var(--dl-color-gray-white);
  padding: 18px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 224px;
  color: var(--acmas-blue);
}

.button:hover {
  background-color: var(--dl-color-gray-white); 
  color: var(--acmas-blue);
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.list {
  width: 100%;
  margin: 1em 0;
  display: block;
  padding: 0 0 0 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
}

.content {
  font-size: 16px;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.heading {
  font-size: 32px;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

/* parent container */
.home-container {
  /* width: 100%; */
  margin: 150px;
  /* justify-content: center;
  display: block; */
}

.home-display-text {
  color: var(--acmas-blue);
  font-family: Inter, serif;
  font-size: 66px;
  /* font-family: Inter, serif; */
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}

.home-buttons-container {
  width: 40%;
  display: flex;
  /* justify-content: center; */
  margin-top: 70px;
}

.home-buttons-container > a {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-right: auto;
  text-decoration: none;
}

/* ACMAS image */
.home-logo {
  width: 405px;
  height: auto;
  padding-top: 20px;
  padding-left: 25px;
}

.search-title {
  font-size: 30px;
  font-style: normal;
  font-family: Arial, serif;
  font-weight: 400;
}

.upload-button-text {
  color: var(--acmas-blue);
  font-size: 38px;
  font-style: normal;
  font-family: Arial, serif;
  font-weight: 400;
  line-height: 1.75;
}

.home-text {
  font-size: 30px;
  font-style: normal;
  font-family: Arial, serif;
  font-weight: 400;
}

.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}

.custom-shape-divider-bottom-1669508581 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669508581 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1669508581 .shape-fill {
  fill: #FFFFFFDE;
}

/* mobile */
@media (max-width: 480px) {
  body {
      background-color: #d6e6f5;
  }

  #hide-mobile {
    display: none;
  }
}

/* tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-color: #d6e6f5;
  }

  #hide-mobile {
    display: none;
  }
}

/* desktop */
@media (min-width: 1025px) {
  body {
    margin: 0;
    background: linear-gradient(-45deg, #f8f8f3, #f5f2d6, #dbebf3, #c6d6f7);
    background-size: 300% 300%;
    animation: gradient 65s ease infinite;
    height: 100vh;
  }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
}