{% extends "cropper.html" %}
{% block content %}
    <div class="Cropper-Container">
        <h1 class="OCR-Title">Cropped Questions</h1>
        {% for img in Cimages %}
            <div class="cropped_question_container">
                <div class="cropped_question">{{ img.text }}</div>
                <div class="edit-delete">
                    <button onclick="location.href='{% url 'edit-question' file img.id %}'" 
                    type="botton">Edit<i class='fas fa-edit'></i></button>
                    <br>
                    <button onclick="location.href='{% url 'delete-cropped-img' file img.id %}'" 
                    type="button">Delete<i class="material-icons"></i></button>
                </div>
            </div>
        {% endfor %}
        <button class="bottomleft" onclick="location.href='{% url 'crop-file' file 0 %}'" 
        type="button">Go back to cropping<i class="fas fa-crop"></i></button>

        <button class="bottomright" onclick="location.href='{% url 'submit' %}'" 
        type="button">Submit Questions<i class="fas fa-upload"></i></button>

    </div>

{% endblock %}
