{% extends '_base.html' %}
{% load component_tags %}

{% block title %}ACMAS Homepage{% endblock %}

{% block google_description %}ACMAS is the free homework and backtest helper created by students for students. Join our community of students anonymously today!{% endblock %}
{% block google_title %}ACMAS: Automated Course Material Archiving System{% endblock %}
{% block google_keywords %}homework, homework help, exam, exam help, student, free homework help, free school help, tutor, online tutor{% endblock %}

{% block twitter_title %}ACMAS: Automated Course Material Archiving System{% endblock %}
{% block twitter_description %}ACMAS is the free homework and backtest helper created by students for students. Join our community of students anonymously today!{% endblock %}

{% block facebook_title %}ACMAS: Automated Course Material Archiving System{% endblock %}
{% block facebook_description %}ACMAS is the free homework and backtest helper created by students for students. Join our community of students anonymously today!{% endblock %}
{% block facebook_url %}www.acmas.systems{% endblock %}


{% block content %}
<div class="flex mt-24">
    <div class="text-7xl" style="color: #327796; font-family: Inter, serif;">Simplify <br> studying with</div>
    <div class="">
        <a href="/">
            <img
                alt="ACMAS logo"
                class="w-96 h-auto pt-4 pl-5"
                src="../static/img/ACMAS_Logo.svg"
            />
        </a>
    </div>
</div>
{% endblock content %}
<h1>This is a test of cookies</h1>