{% extends '_base.html' %}
{% block content %}
    <div class="flex flex-col mt-20">
        <h1 class="text-5xl font-light text-gray-900 text-center mb-8" style="font-family: Inter, serif;">Login</h1>
    <div class="flex items-center">
        <div><h2>Username:</h2><input type="text" id="username" /> </div>
        <div><h2>Password:</h2><input type="text" id="password" /></div>
    </div>
    <button> Sign in</button>
    <!--To do:
    when the "Sign in" button is pressed:
    1. check the input to the userneame bar to see if it is in the database. If not, deny the entry request
    2. check if the encrypted input to the password bar matches the user's encrypted password. If not, deny the entry request
    3. if the user submitted the correct username and password, take them to a non-guest page
    -->
    </div>
{% endblock %}