{% extends '_base.html' %}
{% load component_tags %}

{% block title %}ACMAS Viewer{% endblock %}

{% block google_description %}File viewer for the ACMAS free homework and backtest database. Join our community of students anonymously today!{% endblock %}
{% block google_title %}ACMAS Assignment Viewer{% endblock %}
{% block google_keywords %}homework, homework help, exam, exam help, student, free homework help, free school help, tutor, online tutor{% endblock %}

{% block twitter_title %}ACMAS Assignment Viewer{% endblock %}
{% block twitter_description %}File viewer for the ACMAS free homework and backtest database. Join our community of students anonymously today!{% endblock %}

{% block facebook_title %}ACMAS Assignment Viewer{% endblock %}
{% block facebook_description %}File viewer for the ACMAS free homework and backtest database. Join our community of students anonymously today!{% endblock %}
{% block facebook_url %}www.acmas.systems{% endblock %}

{% block content %}
<div class="p-0 flex items-center overflow-hidden relative" style="height: 85vh;">
  <div class="absolute w-full h-full" style="background: linear-gradient(-45deg, #f8f8f3, #f5f2d6, #dbebf3, #c6d6f7); background-size: 300% 300%; animation: gradient 65s ease infinite;"> </div>
  <div class="container mx-auto px-4 z-3 relative lg:w-6/12">
    <div class="justify-center flex flex-wrap flex-col -mx-4 text-center">
      <div class="flex items-center space-x-6 p-6 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-500 xl:h-96 lg:h-80 md:h-48">
        <div class="h-full w-full bg-gray-100 text-gray-600 rounded-lg">
          <embed src="{{ directory }}" type="application/pdf" width="100%" height="100%" />
        </div>
      </div>
    </div>
    <span class="mt-4 flex justify-center items-center gap-x-4">
      <form id="return-to-query" action="{% url 'returnQuery' %}">
        {% component "button" text="Return to Query" component_type="primary" value="Return to Query" %}
      </form>
      <span onclick="window.location.href='/';">
        {% component "button" text="Return to Homepage" component_type="secondary" value="" %}
      </span>
    </span>
  </div>
</div>
<div class="w-full absolute text-white bottom-0 z-3 "></div>
</div>
{% endblock %}
