{% extends '_base.html' %}
{% load component_tags %}

{% block title %}ACMAS Viewer{% endblock %}

{% block google_description %}File viewer for the ACMAS free homework and backtest database. Join our community of students anonymously today!{% endblock %}
{% block google_title %}ACMAS Assignment Viewer{% endblock %}
{% block google_keywords %}homework, homework help, exam, exam help, student, free homework help, free school help, tutor, online tutor{% endblock %}

{% block twitter_title %}ACMAS Assignment Viewer{% endblock %}
{% block twitter_description %}File viewer for the ACMAS free homework and backtest database. Join our community of students anonymously today!{% endblock %}

{% block facebook_title %}ACMAS Assignment Viewer{% endblock %}
{% block facebook_description %}File viewer for the ACMAS free homework and backtest database. Join our community of students anonymously today!{% endblock %}
{% block facebook_url %}www.acmas.systems{% endblock %}

{% block content %}

<div class="flex flex-col mt-20 items-center justify-items-center">
  <h1 class="text-5xl font-light text-gray-900 text-center pb-8" style="font-family: Inter, serif;">ACMAS Reader</h1>
  <div class="h-96 w-2/3">
    <div class="h-full w-full bg-white border border-black rounded-lg">
      <embed src="{{directory}}" type="application/pdf" width="100%" height="100%" />
    </div>
  </div>

  <span class="mt-6 flex gap-x-6">
    <span onclick="window.location.href='searchByQuestion';">
      {% component "button" text="Return to Homepage" type="primary" value="" %}
    </span>
    <form id="return-to-query" action="{% url 'returnQuery' %}">
      {% component "button" text="Return to Query" type="primary" value="Return to Query" %}
      {% comment %} <input type="submit" class="home-button button content" value="Return to Query"> {% endcomment %}
    </form>
  </span>
</div>
{% endblock %}