{% extends '_base.html' %}
{% load component_tags %}
{% block title %} Create an Account {% endblock %}

{% block content %}
<div class="flex flex-col mt-20">
    <div class="w-full flex items-center justify-center">
        <form method="POST" class="form-group"> {% csrf_token %}
            {{ form }}
            <div class="flex items-center justify-items-center justify-center mt-2">
                {% component "button" text="Register" component_type="primary" value="submit" %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
