<!DOCTYPE html>

<html lang="en">
<head>
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="../static/img/star.svg">
    <meta content="ACMAS Search" property="og:title"/>
    <meta content="summary_large_image" property="twitter:card"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link
      data-tag="font"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="../static/styles/search-by-course-style.css" rel="stylesheet"/>
</head>
<body>
  {% extends 'navbar.html' %}
  {% block content %}

<!--TODO: Implement registration page functionality -->

  <div class="container-fluid search-container">
    <!-- Header -->
    <h1 class="display-3 text-center">Register an Account</h1>

    <form class="row user-inpt" method="POST"> {% csrf_token %}
      <!-- Email -->
      <div class="col-md-12">
        <input type="email" class="form-control form-control-lg" id="floatingInput" name="user" placeholder="Email">
      </div>

      <!-- Username -->
      <div class="col-md-12 user-inpt">
        <input type="user" class="form-control form-control-lg" id="floatingInput" name="user" placeholder="Username">
      </div>

      <!-- Password -->
      <div class="col-md-6 user-inpt">
        <input type="password" class="form-control form-control-lg" id="floatingPassword" name="user" placeholder="Password">
      </div>

      <!-- Confirm Password -->
      <div class="col-md-6 user-inpt">
        <input type="password" class="form-control form-control-lg" id="floatingPassword" name="user" placeholder="Confirm Password">
      </div>
      <div class="col-md-12 user-inpt h-100 d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg" value="Search">Sign Up</button>
      </div>
    </form>
  </div>
  {% endblock %}
</body>
</html>
