<!DOCTYPE html>

<html lang="en">
<head>
  <title>ACMAS Search</title>
  <link href="../static/img/star.svg" rel="icon" type="image/x-icon">
  <meta property="og:title" content="Search Results"/>
  <meta property="twitter:card" content="summary_large_image"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
    data-tag="font"
  />
  <link href="../static/styles/search-by-course-style.css" rel="stylesheet"/>
</head>

<body>
  {% extends 'navbar.html' %}
  {% block content %}
  <div class="container-fluid search-container">
    <!-- Header -->
    <h1 class="display-3" style="text-align: center">Search by Course</h1>

    <form class="row user-inpt" method="POST" enctype="multipart/form-data" action="{% url 'searchResults' %}"> {% csrf_token %}
      <!-- School -->
      <div class="col-md-12">
        <input type="text" class="form-control form-control-lg" id="input-uni" name="school" placeholder="Enter University">
      </div>
      <!-- Course -->
      <div class="col-md-6 user-inpt">
        <input type="text" class="form-control form-control-lg" id="input-course" name="course" placeholder="Enter Course">
      </div>
      <!-- Assignment Dropdown -->
      <div class="col-md-6 user-inpt">
        <select class="form-select form-select-lg" placeholder="Select assignment type" autocomplete="on" name="type">
          <option style="color: #D4D6D9;" value="All">Select assignment type</option>
          <option value="All">All</option>
          <option value="Assignment">Assignment</option>
          <option value="Exam">Exam</option>
          <option value="Practice">Practice</option>
        </select>
      </div>
      <!-- Submit Button -->
      <div class="col-md-12 user-inpt h-100 d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg" value="Search">Search</button>
      </div>
    </form>
  </div>
  {% endblock %}
</body>
</html>
