<!DOCTYPE html>

<html lang="en">
<head>
  <!-- Google Analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QXWLM7EHRF"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QXWLM7EHRF');
  </script>

  <!-- Google Adsense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7274874831359267"
     crossorigin="anonymous"></script>

  <title>ACMAS Upload</title>
  <link rel="icon" type="image/x-icon" href="../static/img/star.svg">
  <meta content="summary_large_image" property="twitter:card"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link
    data-tag="font"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link href="../static/styles/search-by-course-style.css" rel="stylesheet"/>
</head>

<body>
{% extends 'navbar.html' %}
{% block content %}
  <div class="container-fluid search-container">
    <!-- Header -->
    <h1 class="display-3" style="text-align: center">ACMAS Upload</h1>

    <form class="row user-inpt" id="school-course-input" method="POST" enctype="multipart/form-data" action="{% url 'uploadFile' %}"> {% csrf_token %}
      <!-- School -->
      <div class="col-md-12">
        <input class="form-control form-control-lg" placeholder="Enter your school" type="text" name="school"/>
      </div>
      <!-- Course -->
      <div class="col-md-6 user-inpt">
        <input class="form-control form-control-lg input" placeholder="Enter your course" type="text" name="course"/>
      </div>
      <!-- Assignment Dropdown -->
      <div class="col-md-6 user-inpt">
        <select class="form-select form-select-lg" placeholder="Select assignment type" autocomplete="on" name="type">
          <option style="color: #D4D6D9;" value="All">Select assignment type</option>
          <option value="Assignment">Assignment</option>
          <option value="Exam">Exam</option>
          <option value="Practice">Practice</option>
        </select>
      </div>
      <!-- Upload Button -->
      <div class="col-md-12 user-inpt">
        <input type="file" class="form-control form-control-lg" name="fileUpload"/>
      </div>
      <!-- Submit Button -->
      <div class="col-md-12 user-inpt h-100 d-flex align-items-center justify-content-center">
        <input type="submit" class="btn btn-primary btn-lg" value="Upload"/>
      </div>
    </form>
  </div>
{% endblock %}
</body>
</html>