<!DOCTYPE html>

<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QXWLM7EHRF"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QXWLM7EHRF');
  </script>
  <title>ACMAS Upload</title>
  <link href="../static/img/star.svg" rel="icon" type="image/x-icon">
  <meta property="og:title" content="Search Results"/>
  <meta property="twitter:card" content="summary_large_image"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
    data-tag="font"
  />
  <link href="../static/styles/search-by-course-style.css" rel="stylesheet"/>
</head>

<body>
  {% extends 'navbar.html' %}
  {% block content %}
  <div class="container-fluid search-container">
    <!-- Header -->
    <h1 class="display-3 text-center">ACMAS Upload</h1>

    <form class="row user-inpt" id="school-course-input" method="POST" enctype="multipart/form-data" action="{% url 'uploadManually' %}"> {% csrf_token %}
      <!-- School -->
      <div class="col-md-12">
        <input class="form-control form-control-lg" placeholder="Enter your school" type="text" name="school"/>
      </div>
      <!-- Course -->
      <div class="col-md-12 user-inpt">
        <input class="form-control form-control-lg" placeholder="Enter your course" type="text" name="course"/>
      </div>
      <!-- Question -->
      <div class="col-md-12 user-inpt" style="margin-top: 1%">
        <input class="form-control form-control-lg" placeholder="Enter your question" type="text" name="question"/>
      </div>
      <!-- Answer -->
      <div class="col-md-12 user-inpt">
        <input class="form-control form-control-lg" placeholder="Enter your answer" type="text" name="answer"/>
      </div>
      <!-- Submit Button-->
      <div class="col-md-12 user-inpt h-100 d-flex align-items-center justify-content-center">
        <input type="submit" class="btn btn-primary btn-lg" value="Upload"/>
      </div>
    </form>
  </div>
  {% endblock %}
</body>
</html>
