{% extends '_base.html' %}
{% load component_tags %}
{% block title %}ACMAS Upload{% endblock %}

{% block google_description %}Upload your homework/exam questions and answers to ACMAS anonymously and join our community of students today!{% endblock %}
{% block google_title %}ACMAS Manual Upload Tool{% endblock %}
{% block google_keywords %}upload, question, assignment, homework, homework help, exam, exam help, student, free homework help, free school help, tutor, online tutor{% endblock %}

{% block twitter_title %}ACMAS Manual Upload Tool{% endblock %}
{% block twitter_description %}Upload your homework/exam questions and answers to ACMAS anonymously and join our community of students today!{% endblock %}

{% block facebook_title %}ACMAS Manual Upload Tool{% endblock %}
{% block facebook_description %}Upload your homework/exam questions and answers to ACMAS anonymously and join our community of students today!{% endblock %}
{% block facebook_url %}www.acmas.systems/upload-manually{% endblock %}

{% block content %}
<div class="flex flex-col mt-20">
  
    {%if user.is_authenticated %}
    {%block manual-Up%}
      <!-- Header -->
      <h1 class="text-5xl font-light text-gray-900 text-center mb-8" style="font-family: Inter, serif;">ACMAS Manual Upload</h1>
      <div class="pt-2 w-full flex items-center justify-center">
    
        {%endblock%}
      {% else %}
        {%block anon-manual-Up%}
        <!-- Header -->
        <h1 class="text-5xl font-light text-gray-900 text-center mb-8" style="font-family: Inter, serif;">Anonymous Manual Upload</h1>
        <h5 style="text-align: center"><i>Note: Anonymous uploads need to be approved by a moderator before being published to ACMAS</i></h1>
        <div class="pt-2 w-full flex items-center justify-center">


        {%endblock%}
      {% endif %}
  
    <form class="w-1/2 xs:w-2/3 justify-center justify-content-center align-items-center" id="school-course-input" method="POST" enctype="multipart/form-data" action="{% url 'uploadManually' %}"> {% csrf_token %}
      <!-- School -->
      <div class="mb-4">
        {% component "field" component_type="text" placeholder="Enter University" name="school" %}
      </div>
      <!-- Course -->
      <div class="mb-6">
        {% component "field" component_type="text" placeholder="Enter Course" name="course" %}
      </div>
      <!-- Question -->
      <div class="mb-4">
        {% component "field" component_type="text" placeholder="Enter Question" name="question" %}
      </div>
      <!-- Answer -->
      <div class="mb-4">
        {% component "field" component_type="text" placeholder="Enter Answer" name="answer" %}
      </div>
        <!-- Assignment Dropdown -->
      <div class="mb-4 flex justify-content-center items-center justify-center justify-items-center">
        <div class="w-1/2">
          <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select assignment type" autocomplete="on" name="type" label="Search type selection">
            <option style="color: #D4D6D9;" value="All">Select assignment type</option>
            <option value="All">All</option>
            <option value="Assignment">Assignment</option>
            <option value="Exam">Exam</option>
            <option value="Practice">Practice</option>
          </select>
          {% comment %} {% component "select" placeholder="Select assignment type" name="type" options="types" %} {% endcomment %}
        </div>
      </div>
      {%if user.is_authenticated %}
        {%block submitNew%}
          <!-- Submit Button-->
        <div class="flex items-center justify-items-center justify-center">
          {% component "button" text="Upload" component_type="primary" value="Upload" %}
        </div>
        {%endblock%}
      {% else %}
        {%block submitQueue%}
          <!--Submit to Queue-->
          <div class="flex items-center justify-items-center justify-center">
            {% component "button" text="Upload to Queue" component_type="primary" value="Upload" %}
          </div>
        {%endblock%}
      {% endif %}
      
  </div>
</div>
{% endblock %}
