{% extends 'navbar.html' %}
{% block title %}ACMAS Upload{% endblock %}

{% block google_description %}Upload your school's assignments and exams anonymously to ACMAS and join our community of students today!{% endblock %}
{% block google_title %}ACMAS Assignment Upload Tool{% endblock %}
{% block google_keywords %}assignment, upload, homework, homework help, exam, exam help, student, free homework help, free school help, tutor, online tutor{% endblock %}

{% block twitter_title %}ACMAS Assignment Upload Tool{% endblock %}
{% block twitter_description %}Upload your school's assignments and exams anonymously to ACMAS and join our community of students today!{% endblock %}

{% block facebook_title %}ACMAS Assignment Upload Tool{% endblock %}
{% block facebook_description %}Upload your school's assignments and exams anonymously to ACMAS and join our community of students today!{% endblock %}
{% block facebook_url %}www.acmas.systems/upload-file{% endblock %}

{% block content %}
<head>
  <!-- Google Analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src='{{ GOOGLE_ANALYTICS_URL }}'></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
  </script>

  <!-- Google Adsense -->
  <script async src='{{ GOOGLE_ADSENSE_URL }}'
     crossorigin="anonymous"></script>

  <link
    rel="stylesheet"
    data-tag="font"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../static/styles/search-by-course-style.css"/>
</head>

<body>
  <main>
    <div class="container-fluid search-container">

      {%if user.is_authenticated %}
          {%block file-Up%}
          <!-- Header -->
          <h1 class="display-3" style="text-align: center">ACMAS Upload</h1>
          {%endblock%}
        {% else %}
          {%block anon-File-Up%}
          <h1 class="display-3" style="text-align: center">Anonymous ACMAS Upload</h1>
          <h5 style="text-align: center"><i>Note: Anonymous uploads need to be approved by a moderator before being published to ACMAS</i></h1>

          {%endblock%}
        {% endif %}
      
      
      <form class="row user-inpt" id="school-course-input" method="POST" enctype="multipart/form-data" action="{% url 'uploadFile' %}"> {% csrf_token %}
        <!-- School -->
        <div class="col-md-12">
          <input class="form-control form-control-lg" placeholder="Enter your school" type="text" name="school" label="School name entry"/>
        </div>
        <!-- Course -->
        <div class="col-md-6 user-inpt">
          <input class="form-control form-control-lg input" placeholder="Enter your course" type="text" name="course" label="Course name entry"/>
        </div>
        <!-- Assignment Dropdown -->
        <div class="col-md-6 user-inpt">
          <select class="form-select form-select-lg" placeholder="Select assignment type" autocomplete="on" name="type" label="Upload type selection">
            <option style="color: #D4D6D9;" value="All">Select assignment type</option>
            <option value="Assignment">Assignment</option>
            <option value="Exam">Exam</option>
            <option value="Practice">Practice</option>
          </select>
        </div>
        <!-- Upload Button -->
        <div class="col-md-12 user-inpt">
          <input type="file" class="form-control form-control-lg" name="fileUpload" aria-label="File upload module"/>
        </div>
        
        {%if user.is_authenticated %}
        {%block submitNew%}
          <!-- Submit Button-->
          <div class="col-md-12 user-inpt h-100 d-flex align-items-center justify-content-center">
            <input type="submit" class="btn btn-primary btn-lg" value="Upload"/>
          </div>
        {%endblock%}
      {% else %}
        {%block submitQueue%}
          <!--Submit to Queue-->
          <div class="col-md-12 user-inpt h-100 d-flex align-items-center justify-content-center">
            <input type="submit" class="btn btn-primary btn-lg" value="Upload to Moderation Queue"/>
          </div>
        {%endblock%}
      {% endif %}
      </form>
    </div>
  </main>
{% endblock %}
</body>
</html>