.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.home-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 816px;
  bottom: 0px;
  height: 633px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-logo {
  width: 100%;
  height: 205px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-s-by-question {
  top: var(--dl-space-space-halfunit);
  left: 0px;
  right: 0px;
  width: 383px;
  bottom: 0px;
  height: 51px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  border-color: #2f617c;
  border-width: 2px;
  text-transform: capitalize;
  justify-content: center;
}
.home-text {
  font-size: 30px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
}
.home-upload {
  left: 0px;
  right: 0px;
  width: 268px;
  bottom: 56px;
  height: 86px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  border-color: #2f617c;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  text-transform: capitalize;
  justify-content: center;
}
.home-text3 {
  color: #2f617c;
  font-size: 38px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.75;
}
.home-s-by-course {
  top: 386px;
  left: 214px;
  width: 383px;
  height: 51px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  border-color: #2f617c;
  border-width: 2px;
  text-transform: capitalize;
  justify-content: center;
}
.home-text4 {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image {
  width: 100px;
  object-fit: cover;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
