{% load component_tags %}

<div class="field-component flex bg-gray-100 p-4 h-14 space-x-4 rounded-lg w-full items-center">
    {% if component_type == "input" %}
        <input type="file" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" name="{{ name }}">
        {% else %}
        {% if icon_name != "" %}
            {% component "icon" icon=icon_name icon_type="mini" icon_class="w-6 h-6 flex-shrink-0 text-gray-400" %}
        {% endif %}
        <input type="{{ component_type }}" class="bg-gray-100 outline-none border-0 w-full ring-0 focus:ring-0" name="{{ name }}" placeholder="{{ placeholder }}" />
    {% endif %}
</div>
