.hide{
    display: none;
}
.show{
    font-size: 30px;
    background-color: #32a94c;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-family: "Arial";

}

.crop-title{
    height: 100px;
}

.edit{
    margin-right: 10px;
}

.cropped_question{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    border: solid;
    padding: 5px 5px;
    border-radius: 5px;
    width: 500px;
}
.cropped_question_container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.cropped_questions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}