.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.list {
  width: 100%;
  margin: 1em 0;
  display: block;
  padding: 0 0 0 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
}

.content {
  font-size: 16px;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.heading {
  font-size: 32px;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.home-container {
  width: 100%;
  display: flex;

  /* overflow: auto; */
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.large-logo-container {
  flex: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  margin-top: 0;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.acmas-search-header {
  font-size: 64px;
  align-self: center;
  text-align: center;
  font-style: normal;
  margin-top: 3%;
  margin-bottom: 3%;
}

.action-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.university-container {
  flex: 0 0 auto;
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  justify-content: flex-start;
}

.hexagon-img {
  flex: 0;
  width: 100px;
  object-fit: cover;
}

.home-textarea {
  flex: 1;
  font-size: 24px;
  text-align: left;
  margin-left: 5%;
  border-color: var(--dl-color-gray-black);
  margin-right: 5%;
}

.home-course-container {
  flex: 0 0 auto;
  width: 70%;
  height: 100px;
  display: flex;
  align-self: center;
  margin-top: 1%;
  align-items: center;
  margin-bottom: 1%;
  justify-content: flex-start;
}

.home-assignment-container {
  flex: 0 0 auto;
  width: 100%;
  height: 64px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 2%;
  justify-content: center;
}

.home-select-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.home-assignment-dropdown {
  height: var(--dl-size-size-small);
  margin-left: 5%;
}

.home-search-button {
  font-size: 24px;
  margin-bottom: 10%;
}

.hexagon-image {
  width: 50%;
  align-self: center;
  object-fit: cover;
  margin-left: 3%;
}

.home-textarea1 {
  flex: 1;
  font-size: 24px;
  text-align: left;
  margin-left: 5%;
  border-color: var(--dl-color-gray-black);
  margin-right: 5%;
}

@media (max-width: 991px) {
  .large-logo-container {
    height: auto;
  }

  .university-container {
    height: 50px;
  }
}
