<div class="select-component">
  <select autocomplete="on" placeholder="{{ placeholder }}" name="{{ name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option style="color: #D4D6D9;" value="All">Select assignment type</option>
    <option value="All">All</option>
    <option value="Assignment">Assignment</option>
    <option value="Exam">Exam</option>
    <option value="Practice">Practice</option>
  </select>
</div>
